<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="EMPRESA" value="EMBALABRASIL"/>
		<add key="AMBIENTE" value="T"/>
	</appSettings>
	<connectionStrings>
		<add name="EMBALABRASIL_T" connectionString="server=localhost;user id=root;password=;database=bdembalabrasil" providerName="System.Data.Oledb"/>
		<add name="EMBALABRASIL_H" connectionString="server=174.122.209.53;PORT=3309;user id=anascred;password=anascred;database=bdanascred" providerName="System.Data.Oledb"/>
		<add name="EMBALABRASIL_P" connectionString="server=localhost;PORT=3309;user id=anascred;password=anascred;database=bdanascred" providerName="System.Data.Oledb"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=5.1.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
</configuration>
